

@media screen and 

(max-width:640px)
{
	
.use-btn{display:none;}
nav{margin-top:40px;}
	.overlay ul{margin-left:0px;}
	.overlay ul li a{padding:20px 0;min-width:120px;font-size:12px;}
}


@media screen and (max-width:100%)
{
	
.hero h1{font-size:40px;margin:100px 0 45px 0}
	
}
